In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [ ]:
df = pd.read_csv("../learning/Data/personal_spending_data2.csv") # you cant use use data2 BCZ it has been overrided
df.head()

In [16]:
df['Date'] = pd.to_datetime(df['Date'])
df['Month'] = groupdf['Date'].dt.to_period('M')

In [17]:
df['Amount'] = df['Amount'].abs()

In [18]:
new_df = df.pivot_table(index='Month', columns='Type', values='Amount',aggfunc='sum')
new_df = new_df.fillna(new_df.mean())
mode_means = df.groupby('Month')['Mode'].mean()
new_df['Avg_Mode'] = (mode_means >= 0.5).astype(int)
new_df = new_df.reset_index()

In [19]:
new_df.describe()

Type,events,food,friend/partner,other,personal,pocket money,shopping,stationary,Avg_Mode
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000
mean,274.000000,373.466667,692.833333,397.166667,810.869231,2621.846154,1911.000000,353.754545,0.235294
std,49.976244,249.323802,362.725074,362.050310,699.220641,1675.982766,759.597426,543.127528,0.437237
min,121.000000,60.000000,100.000000,1.000000,160.000000,50.000000,110.000000,5.000000,0.000000
25%,274.000000,196.000000,643.000000,306.000000,340.000000,1300.000000,1911.000000,24.700000,0.000000
50%,274.000000,353.000000,692.833333,397.166667,585.800000,2621.846154,1911.000000,353.754545,0.000000
75%,274.000000,415.000000,800.000000,397.166667,810.869231,3000.000000,1911.000000,353.754545,0.000000
max,400.000000,991.000000,1716.000000,1693.000000,2553.000000,6000.000000,4320.000000,2351.000000,1.000000

In [21]:
finaldf = new_df.rename(columns={'pocket money':'monthly_income', 'events':'entertainment', 'Avg_Mode': 'mode', 'friend/partner':'friends'})
finaldf.head()

Type,Month,entertainment,food,friends,other,personal,monthly_income,shopping,stationary,mode
0,2024-02,300.0,60.0,790.000000,397.166667,810.869231,2621.846154,1911.0,353.754545,1
1,2024-03,275.0,300.0,100.000000,397.166667,2030.000000,2621.846154,110.0,10.000000,1
2,2024-04,274.0,155.0,800.000000,397.166667,393.500000,250.000000,1911.0,5.000000,1
3,2024-05,274.0,415.0,1000.000000,280.000000,180.000000,3000.000000,1614.0,10.000000,0
4,2024-06,274.0,191.0,692.833333,60.000000,180.000000,50.000000,1911.0,353.754545,0

In [26]:
finaldf['age'] = 22
finaldf['gender'] = 'Male'
finaldf['major_sub'] = 'Computer Science'
finaldf['spent'] = finaldf['food'] + finaldf['entertainment'] + finaldf['friends'] + finaldf['other'] + finaldf['personal'] + finaldf['shopping'] +finaldf['stationary']

In [35]:
finaldf.describe()

Type,entertainment,food,friends,other,personal,monthly_income,shopping,stationary,mode,age,spent
count,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.000000,17.0,17.000000
mean,274.000000,373.466667,692.833333,397.166667,810.869231,2621.846154,1911.000000,353.754545,0.235294,22.0,4813.090443
std,49.976244,249.323802,362.725074,362.050310,699.220641,1675.982766,759.597426,543.127528,0.437237,0.0,1409.298354
min,121.000000,60.000000,100.000000,1.000000,160.000000,50.000000,110.000000,5.000000,0.000000,22.0,3222.166667
25%,274.000000,196.000000,643.000000,306.000000,340.000000,1300.000000,1911.000000,24.700000,0.000000,22.0,3935.666667
50%,274.000000,353.000000,692.833333,397.166667,585.800000,2621.846154,1911.000000,353.754545,0.000000,22.0,4534.202564
75%,274.000000,415.000000,800.000000,397.166667,810.869231,3000.000000,1911.000000,353.754545,0.000000,22.0,5007.921212
max,400.000000,991.000000,1716.000000,1693.000000,2553.000000,6000.000000,4320.000000,2351.000000,1.000000,22.0,8773.166667

In [ ]:
finaldf = finaldf.loc[['age', 'gender', 'major_sub', 'monthly_income', 'stationary', 'food', 'shoping','friends','entertainment', 'personal', 'others', 'mode', 'spent']]

In [41]:
finaldf.to_csv("abcdef.csv")